In [203]:
import pandas as pd

In [204]:
import matplotlib.pyplot as plt
import psycopg2
import getpass

In [205]:
%matplotlib inline
plt.style.use('ggplot')

In [206]:
# Create a database connection
user = 'postgres'
password = 'master'
host = 'localhost'
dbname = 'mimic'
schema = 'mimiciii'

In [207]:
# Connect to the database
con = psycopg2.connect(dbname=dbname, user=user, host=host, 
                       password=password)
cur = con.cursor()
cur.execute('SET search_path to {}'.format(schema))

In [208]:
# Get length of stay from the icustays table
query = \
"""
select first_careunit, count(distinct(p.subject_id)) as mortality_count
from mimiciii.icustays i inner join 
mimiciii.patients p on 
p.subject_id = i.subject_id
where dod_hosp is not null
group by first_careunit
order by mortality_count desc
"""

data = pd.read_sql_query(query,con)

In [209]:
# Display the first few rows of the data
data.head(100)

  first_careunit  mortality_count
0           MICU             5423
1           SICU             2239
2            CCU             2234
3          TSICU             1282
4           CSRU             1146
5           NICU               64

In [210]:
# Compute nissing values in each column
#data.isnull().mean().sort_values(ascending=False)*100
#avg_los = data.los.median()
#print(avg_los)

#for ind in data.index:
 #  fig, ax = plt.subplots(1,1)
   #fig.set_size_inches(5,5)
   #data.iloc[ind].plot(kind='pie', ax=ax, autopct='%1.1f%%')
   #ax.set_ylabel('')
   #ax.set_xlabel('')

In [211]:
# Plot the distribution

#diagnoses = data.set_index('first_careunit').plot.barh(y='mortality_count', figsize=(5, 5), color='blue')

#plot = data.plot.pie(y='admission_count', figsize=(5, 5), legend=False, labels=data.admission_type)

#diagnoses = data.groupby(['admission_type', 'admission_count']).admission_count.count().plot.pie(autopct='%1.1f%%')

In [212]:
#plot = data.plot.pie(y='mortality_count', figsize=(5, 5), legend=False, labels=data.first_careunit, autopct='%1.1f%%')

In [213]:
Total = sum(data.mortality_count)
print Total

12388