In [101]:
import pandas as pd

In [102]:
import matplotlib.pyplot as plt
import psycopg2
import getpass

In [103]:
%matplotlib inline
plt.style.use('ggplot')

In [104]:
# Create a database connection
user = 'postgres'
password = 'master'
host = 'localhost'
dbname = 'mimic'
schema = 'mimiciii'

In [105]:
# Connect to the database
con = psycopg2.connect(dbname=dbname, user=user, host=host, 
                       password=password)
cur = con.cursor()
cur.execute('SET search_path to {}'.format(schema))

In [106]:
# Get length of stay from the icustays table
query = \
"""
select distinct category
from mimiciii.noteevents
"""

data = pd.read_sql_query(query,con)
pd.options.display.max_colwidth = 5000

In [107]:
# Display the first few rows of the data
data.head(150)

             category
0             Consult
1         Social Work
2                 ECG
3    Case Management
4           Nutrition
5           Radiology
6   Discharge summary
7            Pharmacy
8        Respiratory
9       Nursing/other
10            Nursing
11               Echo
12     Rehab Services
13         Physician
14            General

In [108]:
# Get length of stay from the icustays table
query = \
"""
select los
from mimiciii.icustays i 
order by subject_id
"""

data['los'] = pd.read_sql_query(query,con)
data.head(150)

             category     los
0             Consult  0.0918
1         Social Work  6.0646
2                 ECG  1.6785
3    Case Management   0.0844
4           Nutrition  3.6729
5           Radiology  0.2677
6   Discharge summary  0.7391
7            Pharmacy  1.0755
8        Respiratory   5.3231
9       Nursing/other  8.0921
10            Nursing  1.5844
11               Echo  7.6348
12     Rehab Services  3.6660
13         Physician   0.0979
14            General  2.0710

In [109]:
data_copy = data.copy()
data_copy['avg_test_per_day'] = data_copy['lab_time_count'] / data_copy['los']
mask = data_copy.los < 1
data_copy.loc[mask, 'avg_test_per_day'] = data_copy['los']
#data_copy['avg_test_per_day'].where(data_copy['los'] < 1, data_copy['lab_time_count']).apply()

data_copy.head(150)

KeyError: 'lab_time_count'

In [ ]:
Total = sum(data.lab_time_count)
print Total

In [ ]:
data['lab_time_count'].mean()

In [ ]:
data['lab_time_count'].median()

In [ ]:
data['lab_time_count'].quantile([.1, .25, .5, .75, .9])

In [ ]:
data['lab_time_count'].plot(kind='hist', bins = 30)